/* styles.css */

*{
  /* font-family: 'Proza Libre', sans-serif; */
font-family: 'Roboto Condensed', sans-serif;
/* font-family: 'Poppins', sans-serif; */
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  list-style: none;
  padding: 0;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}
